.wd-explore-page {
    padding-left: 16px;
}

.wd-search-bar {

}

.wd-search-bar #wd-search-bar-content input {
    color: white;
    background-color: rgb(43, 42, 42);
    border-radius: 50px;
    border-width: 0px;
    border-style: solid;
    height: 30px;
    width: 430px;

    margin-right: 20px;
    margin-left: 17px;
    margin-bottom: 10px;
    margin-top: 5px;

    padding-left: 25px;
    background-image: url("http://kodyrabatowe.wp.pl/img/ico/search_gr.png");
    background-repeat: no-repeat;
    background-position: left center;
    outline: 0;
}

.wd-search-bar #wd-search-bar-content div {
    display: inline-block;
    text-align: center;

    padding-left: 5px;
    padding-right: 5px;
}

.wd-search-bar #wd-search-bar-content div a {
    text-decoration: none;
    color: rgb(29, 161, 242);
    font-size: 2em;
    margin-top: 5px;
}

.wd-container-nav-bar {
    border-style: solid;
    border-bottom-width: 3px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-color: rgb(47, 51, 54);
}

.wd-nav-bar {
    color: rgb(110, 118, 125);
    padding: 0px;


    margin-bottom: 0px;
    /*display: block;*/
    /*margin-block-start: 1em;*/
    /*margin-block-end: 1em;*/
    /*margin-inline-start: 0px;*/
    /*margin-inline-end: 0px;*/
}

.wd-nav-bar span {
    padding: 16px;
}

.wd-nav-bar li {
    list-style-type: none;
    display: inline-block;
    font-size: 15px;
    padding-bottom: 10px;
}

.wd-nav-bar li a {
    text-decoration: none;
    color: rgb(110, 118, 125);
}

.wd-nav-bar .wd-nav-bar-selected {
    color: rgb(29, 161, 242);
    border-bottom: solid 4px;
    border-radius: 2px;
}

.wd-nav-bar-separator {
    background-color: rgb(20, 20, 19);
    padding-top: 12px;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-color: rgb(43, 42, 42);
}

.wd-post-header {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-post-header2 {
    font-weight: bold;
    font-size: 13px;
}

.wd-post-footer {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-post-type1 {
    border-style: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-color: rgb(47, 51, 54);

    padding: 15px 20px 15px 10px;
}

.wd-post-type2 {
    border-style: solid;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-color: rgb(47, 51, 54);

    padding: 10px 40px 25px 10px;
    margin: 5px 0px;

}

.wd-post-type2 div {
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 50px;
}

.wd-post-type2 img {
    height: 100px;
    width: 100px;

    /*margin-top: 15px;*/
    /*margin-top: 15px;*/
    /*margin-bottom: 5px;*/
    margin-right: 16px;
    /*padding-bottom: 5px;*/
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    float: right;
}