.container-bg {
    background-color: black;
}

.wd-logo {
    font-size: 1.4em;
}

.list-group {
    border-radius: 20px;
}

.list-group-item {
    background-color: black;
    color: rgb(215, 219, 219) !important;
    border-color: transparent;
}

.wd-left-sidebar .list-group-item-action {
    padding: 15px 0px !important;
    font-size: 1.2em;
}

.wd-suggestions-row-item {
    background-color: rgb(20, 20, 20);
    color: rgb(215, 219, 219) !important;
    border-color: transparent;
}

.wd-suggestions-row-item > h5 {
    font-family: Arial;
    font-weight: bold;
}

.nav-link {
    color: rgb(110, 118, 125) !important;
    font-weight: bold;
    font-size: 0.9em;
    /*padding: 15px 15px;*/
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (min-width: 576px) {
    .nav-link {
        font-size: 0.8em;
        margin-left: -10px;
        margin-right: -10px;
    }
}

@media (min-width: 768px) {
    .nav-link {
        font-size: 0.9em;
        margin-left: -5px;
        margin-right: -5px;
    }
}

@media (min-width: 992px) {
    .nav-link {
        font-size: 0.9em;
        margin-left: -9px;
        margin-right: -9px;
    }
}

@media (min-width: 1200px) {
    .nav-link {
        font-size: 0.9em;
        margin-left: -7px;
        margin-right: -7px;
    }
}

@media (min-width: 1400px) {
    .nav-link {
        font-size: 0.9em;
        margin-left: 2px;
        margin-right: 2px;
    }
}

.nav-item .active {
    background-color: transparent !important;
    color: rgb(215, 219, 219) !important;
    border: none;
    border-bottom: 5px solid rgb(29, 161, 242) !important;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 7px;
    margin-right: 7px;
}

.nav-tabs{
    border: none;
    padding-left: 3%;
}

.nav-tabs .nav-link {
    border: none;
}

.list-group-item-action {
    background-color: transparent;
    color: rgb(215, 219, 219) !important;
}

.list-group-item-action.active {
    background-color: black;
    color: rgb(215, 219, 219) !important;
    border: none;
    font-weight: bold;
}

.list-group-item-action:focus {
    color: rgb(215, 219, 219) !important;
    text-decoration: none;
    background-color: transparent !important;
}

.list-group-item-action:hover {
    color: rgb(215, 219, 219) !important;
    text-decoration: none;
    background-color: transparent !important;
}

.btn-primary {
    background-color: rgb(29, 161, 242);
}

.wd-show-more {
    color: rgb(29, 161, 242);
}

.wd-content-column {
    border: solid rgb(43, 42, 42);
    border-top: none;
    border-bottom: none;
}

.fa-stack.small {
    font-size: 0.5em;
    margin-left: 2px;
    margin-right: -2px;
}

.wd-search-bar {
    display: flex;
    border: 1px solid black;
    padding: 5px 0 5px 12px ;
    background-color: rgb(43, 42, 42);
}

.wd-search-bar .wd-search-icon {
    background: transparent;
    border: none;
    outline: none;
    align-self: center;
    color: rgb(110, 118, 125);
}

.wd-search-bar .wd-search-field {
    width: 100%;
    padding: 6px 35px 6px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
    background: transparent;
    color: rgb(110, 118, 125);
}

.wd-btn-tuit {
    margin-left: -20px;
}

.wd-btn-tuit > button{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

.wd-settings-button {
    font-size: 17px;
    color: rgb(215, 219, 219);
}

.wd-suggestion-image {
    width: 50px;
    height: 50px;
    background-color: white;
}

.wd-main-image {
    border-top: 2px solid rgb(43, 42, 42);
    border-bottom: 2px solid rgb(43, 42, 42);
}

.wd-main-image > h3 {
    left: 6px;
}

.wd-main-image > h3 > i {
    color: orange;
    rotate: -30deg;
}

.wd-main-image > h3 > span {
    color: white !important;
    font-size: 0.5em !important;
}

.wd-content-row span {
    font-size: 0.9em;
}

.wd-content-image {
    width: 90px;
    height: 90px;
}

@media (max-width: 768px)
{
    .wd-content-image {
        width: 70px;
        height: 70px;
    }
}