.wd-content-image {
    width: 65px;
    height: 65px;
}

.wd-post-header .list-group-item-action:hover{
    background: transparent;
}
.wd-post-header .list-group-item-action:focus{
    background: transparent;
}

.wd-post-list-item {
    background: transparent;
}

.wd-post-card .card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.wd-post-card {
    background: transparent;
    border: 1px solid rgb(43, 42, 42);
    border-radius: 15px;
}

.wd-post-card .card-body {
    border-top: 1px solid rgb(43, 42, 42);
}

@media (max-width: 1200px)
{
    .wd-content-image {
        width: 50px;
        height: 50px;
    }
}